gas_adjustment = 1.7
gas_prices = "0.00125ukuji"
enable_server = true
enable_voter = true

history_db = "/var/tmp/feeder.db"

[server]
listen_addr = "0.0.0.0:7171"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[[deviation_thresholds]]
base = "USDT"
threshold = "2"

[[provider_min_overrides]]
denoms = ["BTC"]
providers = 5

[[currency_pairs]]
base = "USDT"
quote = "USD"
providers = ["coinbase", "kraken", "crypto", "gate", "binanceus"]

[[currency_pairs]]
base = "BTC"
quote = "USD"
providers = ["coinbase", "kraken", "crypto"]

[[currency_pairs]]
base = "BTC"
quote = "USDT"
providers = ["binance", "mexc", "huobi"]

[account]
address = "kujira..."
chain_id = "kaiyo-1"
validator = "kujiravaloper..."
prefix = "kujira"
# Optional
fee_granter = "kujira..."

[keyring]
backend = "file"
dir = "/home/<user>/.kujira"

[rpc]
grpc_endpoint = "localhost:9090"
rpc_timeout = "100ms"
tmrpc_endpoint = "http://localhost:26657"

[telemetry]
enable_hostname = true
enable_hostname_label = true
enable_service_label = true
enabled = true
global_labels = [["chain-id", "kaiyo-1"]]
service_name = "price-feeder"
type = "prometheus"

[[provider_endpoints]]
name = "binance"
rest = "https://api1.binance.com"
websocket = "stream.binance.com:9443"

[[healthchecks]]
url = "https://hc-ping.com/HEALTHCHECK-UUID"

[contract_addresses.finv2]
KUJIUSDC = "kujira14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9sl4e867"
WINKUSK = "kujira1qxtd87qus6uzvqs4jv9r0j9ccd4yla42s6qag7y8fp7hhv68nzas6hqxgw"
